@tailwind base;
@tailwind components;
@tailwind utilities;

.tag-text {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition: opacity 300ms ease-in-out, max-width 300ms ease-in-out;
}
  
.tag-text-active {
    opacity: 1;
    max-width: 10rem; /* Adjust this value according to the maximum width you expect for the text */
}

.material-view {
  overflow: hidden;
  height: 0;
  transition: height 350ms ease-in-out;
}

.material-view.display-active {
  height: 100%;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.icon-wrapper {
  position: relative;

}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.icon-hidden {
  opacity: 0;
  transform: scale(0.8);
}